.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: auto;
  background-color: #9c27b0;

  .appLogo {
    width: 60px;
  }

  .title {
    font-size: x-large;
    color: white;
  }

  .connectBtn {
    width: 127px;
    border-radius: 10px;
    margin: 8px;
  }

  .metaDetails {
    display: flex;
    flex-direction: column;

    .info {
      font-size: large;
      color: white;
    }

    .by {
      font-size: 14px;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 93px;
      display: inline-block;
      direction: rtl;
    }

    .eth {
      font-size: 14px;
    }
  }
}
.doc-nav-footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: large;
  color: white;
  background-color: #9c27b0;
}
