<!-- Toolbar -->
<div class="col-lg-12 docs-navbar-header">
  <div class="col-lg-10">
    <img class="appLogo"
    src="../assets/docVlogo.png"
    />
  
    <span class="title"> DocV Protocol </span>
  </div>

  <div class="col-lg-2 metaDetails" >
    <ng-container *ngIf="isConnected">
      <div class="col-lg-2 info">
        <span class="by">{{metamask.address}}</span>
        <span class="eth">{{currentAccountBalance}} MATIC</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!isConnected">
      <button type="button" class="btn btn-primary connectBtn" (click)="connectTo()" >Connect </button>
    </ng-container>
  </div>

</div>


<router-outlet></router-outlet>


<div class="col-lg-12 doc-nav-footer">
  <span>Copyright 2022</span>
</div>