<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                <span> LEGAL PORTAL </span>
            </div>
        </div>   
    </div>

    <nav class="nav">
        <a class="nav-link active" aria-current="page" (click)="showCreate(true)" >Create</a>
        <a class="nav-link active" aria-current="page" (click)="showCreate(false)" >Verify</a>
    </nav>

    <ng-container *ngIf="currentPageCreate">
        <div class="row">
            <div class="col-lg-12 metaDataCard">
                <ng-container *ngFor="let obj of bondMetaDataArray; let i = index">
                    <ng-container *ngIf="obj.isComplete">
                        <div class="card metaCard completed">
                            <div class="card-body metaCardData" (click)="loadPurposeData(obj.purposeDataUrl, i)">
                              <span> Name: cc {{obj.name}}</span>
                              <span> Email: {{obj.email}}</span>
                              <span> Mobile: {{obj.mobile}}</span>
                              <span> ID Type: {{obj.idType}}</span>
                              <span> ID: {{obj.idNumber}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!obj.isComplete"> 
                        <div class="card metaCard selected">
                            <div class="card-body metaCardData" (click)="loadPurposeData(obj.purposeDataUrl, i)">
                              <span> Name: ss {{obj.name}}</span>
                              <span> Email: {{obj.email}}</span>
                              <span> Mobile: {{obj.mobile}}</span>
                              <span> ID Type: {{obj.idType}}</span>
                              <span> ID: {{obj.idNumber}}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>            
    
            </div>
        </div>
    
        <div class="row metaDataPurpose">
            <div class="col-lg-12">
                <textarea name="" id="" cols="30" rows="10" [(ngModel)]="purposeData"></textarea>
            </div>
        </div>
    
        <div class="row ">
            <div class="col-lg-12 centered">
                <input type="file" class="file-upload" (change)="changeListener($event)">
            </div>
            <div class="col-lg-12 form-check spacer centered">
                <input class="form-check-input" type="checkbox" id="confirmBox" [(ngModel)]="bondMetaData.isConfirmed">
                <label class="form-check-label" for="confirmBox">
                    By checking this box, i certify the information provided on and in connection with this form is true and correct to the best of my knowledge. 
                </label>
            </div>
            <div class="col-lg-12 form-check spacer centered">
                <button>Submit</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!currentPageCreate">
        <div class="row ">
            <div class="col-lg-12 centered">
                <input type="file" class="file-upload" (change)="changeListener($event)">
            </div>
            <div class="col-lg-12 form-check spacer centered">
                <input class="form-check-input" type="checkbox" id="confirmBox" [(ngModel)]="bondMetaData.isConfirmed">
                <label class="form-check-label" for="confirmBox">
                    By checking this box, i certify the information provided on and in connection with this form is true and correct to the best of my knowledge. 
                </label>
            </div>
            <div class="col-lg-12 form-check spacer centered">
                <button>Submit</button>
            </div>
        </div>
    </ng-container>
    
</div>