<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                <span> Legal Portal </span>
            </div>
        </div>   
    </div>

    <div class="row">
        <div class="col-lg-12 metaDataCard">
            <ng-container *ngFor="let obj of bondMetaDataArray; let i = index">
                <div class="card metaCard completed">
                    <div class="card-body metaCardData" (click)="loadPurposeData(obj.purposeDataUrl, obj.bondId)">
                      <span> Name: {{obj.name}}</span>
                      <span> Email: {{obj.email}}</span>
                      <span> Mobile: {{obj.mobile}}</span>
                      <span *ngIf="obj.legalDataUrl != undefined" class="completedSection"> </span>
                    </div>
                </div>
                <!-- <ng-container *ngIf="!obj.isComplete"> 
                    <div class="card metaCard selected">
                        <div class="card-body metaCardData" (click)="loadPurposeData(obj.purposeDataUrl, i)">
                          <span> Name: {{obj.name}}</span>
                          <span> Email: {{obj.email}}</span>
                          <span> Mobile: {{obj.mobile}}</span>
                         
                        </div>
                    </div>
                </ng-container> -->
            </ng-container>            

        </div>
    </div>

    <div class="row metaDataPurpose">
        <div class="col-lg-12">
            <textarea name="" id="" cols="30" rows="10" [(ngModel)]="purposeData"></textarea>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 centered inputMargin">
            <input type="file" class="file-upload fileUpload" (change)="changeListener($event)">
        </div>
        <div class="col-lg-12 form-check spacer centered">
            <input class="form-check-input" type="checkbox" id="confirmBox" [(ngModel)]="legalConfirmation">
            <label class="form-check-label" for="confirmBox">
                By checking this box, i certify the information provided on and in connection with this form is true and correct to the best of my knowledge. 
            </label>
        </div>
        <div class="col-lg-12 form-check spacer centered">
            <button type="button" class="btn btn-primary" [disabled]="!legalConfirmation" (click)="uploadFile()">Submit</button>
        </div>
    </div>
    
</div>